# Node
node_modules/
dist/
build/

# Editor
.vscode/
.idea/

# System
.DS_Store
Thumbs.db
*.log
*.tmp

# Environment
# Local configuration file
.env
*.local

# Windows User Files
AppData/
OneDrive*/
*.regtrans-ms
*.blf
*.dat
*.ini
NTUSER.*

Shift_Planning_Tool2/

